# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# SQLite DB
instance/
*.db

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Uploads (optional - if you don’t want resumes)
static/uploads/
