{% extends "layout_dashboard.html" %}

{% block sidebar %}
<a class="btn btn-outline-primary" href="{{ url_for('admin_dashboard') }}">Dashboard</a>
<a class="btn btn-outline-success" href="{{ url_for('admin_companies') }}">Companies</a>
<a class="btn btn-outline-warning" href="{{ url_for('admin_drives') }}">Drives</a>
{% endblock %}

{% block dashboard_content %}

<div class="card shadow-soft mb-4 p-4">
    <h2 class="fw-bold text-success">Student Records</h2>
    <p class="text-muted">View and manage all registered students.</p>
</div>

<div class="card shadow-soft p-4">

<table class="table table-striped table-hover">
    <thead class="table-light">
    <tr>
        <th>Name</th>
        <th>Department</th>
        <th>CGPA</th>
    </tr>
    </thead>
    <tbody>

    {% for student in students %}
    <tr>
        <td class="fw-semibold">{{ student.full_name }}</td>
        <td>{{ student.department }}</td>
        <td>{{ student.cgpa }}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>

</div>

{% endblock %}
