{% extends "base.html" %}
{% block content %}

<div class="row align-items-center">

    <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='images/login_registration.png') }}" 
             class="img-fluid"
             style="max-height: 400px;">
    </div>

    <div class="col-md-5 offset-md-1">
        <div class="card shadow-soft p-5">
            <h2 class="fw-bold text-success mb-4">Create Account</h2>

            <form method="POST">

                <div class="mb-3">
                    <select name="role" class="form-select form-select-lg" required>
                        <option value="student">Student</option>
                        <option value="company">Company</option>
                    </select>
                </div>

                <div class="mb-3">
                    <input type="text" name="username"
                        class="form-control form-control-lg"
                        placeholder="Username" required>
                </div>

                <div class="mb-3">
                    <input type="email" name="email"
                        class="form-control form-control-lg"
                        placeholder="Email" required>
                </div>

                <div class="mb-4">
                    <input type="password" name="password"
                        class="form-control form-control-lg"
                        placeholder="Password" required>
                </div>

                <button class="btn btn-success btn-lg w-100">
                    Register
                </button>

            </form>

            <div class="text-center mt-4">
                <a href="{{ url_for('login') }}">Already have an account?</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}
